<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <!-- css linking -->
    <link rel="stylesheet" type="text/css" href="./template/css/index-style.css">
    <link rel='stylesheet' href='./template/lib/fullcalendar-3.1.0/fullcalendar.min.css' />

    <!-- js linking -->
    <script src="./template/lib/jquery-2.1.4.min.js"></script>
    <script src="./template/lib/moment.min.js"></script>
    <script src='./template/lib/fullcalendar-3.1.0/fullcalendar.min.js'></script>
    <script src='./template/lib/fullcalendar-3.1.0/locale/de.js'></script>
    <script src="./template/js/app.js"></script>
    <script src="./template/js/index.js"></script>

    <title>Ahoy</title>
</head>
<body>
    <nav>
        <ul>
            <li id="account-navlink"><a href="#" onclick="showAccount()">Konto</a></li>
            <li id="calendar-navlink"><a href="#" onclick="showCalendar()">Kalender</a></li>
            <li id="ship-navlink"><a href="#" onclick="showShips()">Schiffe</a></li>
            <li id="logout-navlink" style="float:right"><a href="#" onclick="logout()">Logout</a></li>
        </ul>
    </nav>
    <main>
        <!-- account -->
        <section id="account-content">
            <table>
                <tr>
                    <td class="label-td">
                        <label for="account-username">Benutzername:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-username" type="text" placeholder="Benutzername" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="account-firstname">Vorname:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-firstname" type="text" placeholder="Vorname" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="account-lastname">Nachname:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-lastname" type="text" placeholder="Nachname" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="account-email">E-Mail-Adresse:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-email" type="text" placeholder="E-Mail-Adresse" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="account-address">Adresse:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-address" type="text" placeholder="Adresse" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="account-zip">PLZ:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-zip" type="text" placeholder="PLZ" disabled="true">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="account-old-password">altes Passwort:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-old-password" type="password" placeholder="altes Passwort">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="account-new-password1">neues Passwort:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-new-password1" type="password" placeholder="neues Passwort">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="account-new-password2">neues Passwort best&auml;tigen:</label>
                    </td>
                    <td class="input-td">
                        <input id="account-new-password2" type="password" placeholder="neues Passwort best&auml;tigen">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="account-saveBtn">Passwort &auml;ndern</button>
                    </td>
                </tr>
            </table>
        </section>

        <!-- calendar -->
        <section id="calendar-content">
            <!-- calendar view -->
            <section id="timetable-content">
                <select id ="calendar_dropdown" title="calendar_dropdown">
                    <option value="boat1">Schiff1</option>
                    <option value="boat2">Schiff2</option>
                </select>
                <!--<section id="calendar_weatherForecast"></section>-->
                <div id="calendar"></div>
                <button onclick="showReservation()">neue Reservation</button>
            </section>

            <!-- reservation view -->
            <section id="reservation-content">
                <table>
                    <tr>
                        <td>
                            <h1>Neue Reservation</h1>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <label for="reservation-date">Datum:</label>
                        </td>
                        <td class="input-td">
                            <input id="reservation-date" type="date" placeholder="tt.mm.jjjj">
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <label for="reservation-from">Von:</label>
                        </td>
                        <td class="input-td">
                            <input id="reservation-from" type="time" placeholder="hh:mm">
                        </td>
                    </tr>
                    <tr>
                        <td class="label-td">
                            <label for="reservation-to">Bis:</label>
                        </td>
                        <td class="input-td">
                            <input id="reservation-to" type="time" placeholder="hh:mm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button onclick="saveReservation()">Reservation speichern</button>
                            <button class="secondary" onclick="showCalendar()">Abbrechen</button>
                        </td>
                    </tr>
                </table>

            </section>
        </section>

        <!-- ships -->
        <section id="ship-content">
            <!-- ship list -->
            <table class="shiplist">
                <tr>
                    <td colspan="4" style="padding:8px 0">
                        <h1>Schiffsliste</h1>
                    </td>
                </tr>
                <tr>
                    <th>Schiffsname</th>
                    <th>Typ</th>
                    <th>Standort</th>
                    <th>Anlegeplatz</th>
                </tr>
                <tr>
                    <td>Hillary</td>
                    <td>420</td>
                    <td>Hallwil</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Basta</td>
                    <td>720</td>
                    <td>Hallwil</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Lulu</td>
                    <td>720</td>
                    <td>Hallwil</td>
                    <td>12</td>
                </tr>
            </table>

            <!-- ship creation -->
            <table class="shipCreation">
                <tr>
                    <td colspan="2">
                        <h1>Neues Schiff registrieren</h1>
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="ship-name">Schiffsname:</label>
                    </td>
                    <td class="input-td">
                        <input id="ship-name" type="text" placeholder="Schiffsname">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="ship-type">Schiffstyp:</label>
                    </td>
                    <td class="input-td">
                        <input id="ship-type" type="text" placeholder="Schiffstyp">
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="ship-berthtown">Standort:</label>
                    </td>
                    <td class="input-td">
                        <select id="ship-berthtown">
                            <option value=""></option>
                            <option value="berthtown1">Hallwil</option>
                            <option value="berthtown2">Meisterschwanden</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label-td">
                        <label for="ship-berth">Anlegeplatz:</label>
                    </td>
                    <td class="input-td">
                        <select id="ship-berth">
                            <option value=""></option>
                            <option value="berth1">1</option>
                            <option value="berth1">2</option>
                            <option value="berth1">11</option>
                            <option value="berth1">22</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button onclick="saveShip()">Schiff registrieren</button>
                        <button class="secondary" onclick="clearShipCreation()">Abbrechen</button>
                    </td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>