<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <script src="../js/app.js"></script>

    <title>Ahoy - Login</title>
</head>
<body>
    <main><!-- login screen -->
        <section id="login-content">
            <img id="login_logo" src="../res/ship_wheel.png">
            <form>
                <label for="login_username">Benutzername:</label><input type="text" id="login_username" title="login_username" value="Hans"><br>
                <label for="login_password">Passwort:</label><input type="text" id="login_password" title="login_password" value="*****"><br>
                <input type="radio" id="login_saveUsername"><label for="login_saveUsername">Benutzername speichern</label><br>
                <button type="button" id="login_loginBtn">Login</button><br>
                <a href="#" id="login_newAccountDialog">neues Konto</a>
            </form>
        </section>
    </main>
</body>
</html>