* {
    font-family: Arial;
    font-size: 15px;
    margin: 0 auto;
}

a {
    display: inline;
}

button, img {
    display: block;
}

button {
    width: 30%;
    background-color: #008cba;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
}

fieldset {
    width: 700px;
    border: 1px solid #888;
    border-radius: 4px;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

img {
    margin: 100px auto 50px auto;
}

input {
    width: 100%;
    padding: 5px 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.error {
    background-color: pink;
    border: 1px solid red;
}

p {
    margin: 50px 0 0 0;
    text-align: center;
}

table {
    width: 100%;
}

td.label-td {
    width: 25%;
}

td.input-td {
    width: 75%;
}